
<div class="datatable_center">
    <a href="/admin/courses/create"><button type="button" class="btn btn-info">Create Courses</button></a>
<table id="tab" class="table table-striped stripe row-border order-column" cellspacing="3" width="100%">
    <thead>
    <tr>
        <th>name </th>
        <th>icon</th>
        <th>type</th>
        <th>time</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Show</th>
    </tr>
    </thead>
    <tbody>
    <% for(let i = 0; i < data.length; i++){ %>
        <tr>
            <td><%= data[i].name%></td>
            <td><%= data[i].icon%></td>
            <td><%= data[i].type%></td>
            <td><%= data[i].time%></td>
            <td><a href="/admin/courses/edit/<%=data[i].id%>"><i class="fa fa-pencil-square-o icons" ></i></a></td>
            <td><a href="/admin/courses/delete/<%=data[i].id%>"><i class="fa fa-trash-o icons"></i></a></td>
            <td><a href="/admin/courses/show/<%= data[i].id%>"><i class="fa fa-eye icons"></i></a></td>
        </tr>
    <% } %>
    </tbody>
</table>
</div>


