
<a href="login.ejs">Create User</a>
<div class="tab">
<table id="tab" class="table table-striped stripe row-border order-column" cellspacing="3" width="100%">
    <thead>
    <tr>
        <th>name surname</th>
        <th>email</th>
        <th>phone</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Show</th>
    </tr>
    </thead>
    <tbody>
    <% for(let i = 0; i < data.length; i++){ %>
        <tr>
            <td><%= data[i].name%></td>
            <td><%= data[i].email%></td>
            <td><%= data[i].phone%></td>
            <td><a href="/admin/users/edit/<%=data[i].id%>"><i class="fa fa-pencil-square-o icons" ></i></a></td>
            <td><a href="/admin/users/delete/<%=data[i].id%>"><i class="fa fa-trash-o icons"></i></a></td>
            <td><a href="/admin/users/show/<%= data[i].id%>"><i class="fa fa-eye icons"></i></a></td>

        </tr>
    <% } %>
    </tbody>
</table>
</div>


