
   <h1><%= title%></h1>
   <p>
      <%= description%>
   </p>
   <div class="login_center1">
   <h2 ><%= data.phone%></h2>
   <h3><%= data.name%></h3>
   <h4><%= data.email%></h4>
   <h5><%= data.id%></h5>



   <a href="/admin/users/Password/<%=data.id%>">
      Change Password
     </a>
   </div>




